<h1>ADD NEW BOOK</h1>

<form action= '/books/add' method="POST">

<label for=''>Title</label>
  <input type='text' name='title'>

  <br>
  <label for=''>Description</label>
  <input type='text' name='description'>

  <br>
  <label for=''>Author</label>
 {{!------<input type='text' name='author'>---------}} 
{{!--- <input type='text' name='author'> ---}}  
    <select name="author">
      <option disable selected value=""></option> {{!no te deja poner autor, sino escoger de la lista i te preselecciona los autores}}
      {{#each allAuthors}}
        <option value="{{this._id}}"> {{this.name}} {{this.surname}}</option>
      {{/each}}
    </select>


  <br>
  <label for=''>Rating</label>
  <input type='number' name='rating'>

  <button type='submit'>ADD</button>


</form>

<br>
<a href="/books">
  <button>Go back to books list</button>
</a>